{
    local_certs
}

localhost {

    @http {
        protocol http
    }

    redir @http https://{host}{uri}

    root * /app

    encode zstd gzip
    try_files {path} /index.html
    file_server

    header Cache-Control max-age=15780000
}
